@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Oswald:wght@300&family=Poppins:wght@100&family=Raleway:wght@200&display=swap');

@font-face {
    font-family: 'Azonix';
    src: url('./Fonts/Azonix.otf');
}

$font1: 'Comfortaa',cursive;
$font2: 'Azonix';
$font3: 'Poppins',sans-serif;

$color1:#c2ab82;
$color2:#000032;
$color3:#01004e;
$color4:#67013a;
$color5:#d63d42c4;
$color6:#58473A;

$fsize1: 20px;
$fsize2: 30px;
$fsize3: 40px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin sizes($width, $height, $bcolor) {
    width: $width;
    height: $height;
    background-color: $bcolor;
}

.navbar {
    background-color: $color1;
    font-family: $font3;
    font-size: $fsize1;
    font-weight: bold;

    .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar-nav {
        padding-right: 150px;
        gap: 20px;
    }

    .nav-link {
        color: $color4;
    }

    .nav-link:hover {
        color: $color5;
    }

    .navbar-brand img {
        width: 150px;
    }
}

.dibujo {
    height: 550px;
    width: 400px;
    transform: scaleX(-1);
    position: absolute;
    right: 0;
    padding-top: 0;
}

.container-fluid {
    background-color: $color2;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    h1 {
        font-family: $font2;
        font-weight: lighter;
        align-items: center;
        color: $color1;
        font-size: $fsize3;
    }

    .inscripcion {
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 2px;
        border: solid 2px black;
        background-color: $color4;
        color: $color1;
        padding: 5px;
        align-items: left;
    }

    .inscripcion:hover {
        color: aliceblue;
        background-color: $color5;
    }
}

main {
    @include sizes(auto, auto, $color4);
    margin-top: 0;
    font-family: $font1;
    padding-bottom: 30px;
    color: $color1;
    display: flex;

    // seccion 1    
    .nleft {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 70px;
    }

    .nright {

        h2 {
            text-align: left;
            padding-top: 40px;
            padding-left: 90px;
            font-size: $fsize2;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: underline;
            font-family: $font1;
        }

        p {
            padding-right: 360px;
        }
    }

    // seccion 2
    .main-seccion2 {
        height: 400px;
        display: flex;
        justify-content: center;

        .nleft-seccion2 {
            margin-left: 100px;
        }

        .nright-seccion2 {
            text-align: center;
            padding-right: 100px;
            padding-top: 50px;

            h2 {
                color: $color2;
                font-weight: bold;
            }
        }
    }

    // seccion 3
    h2 {
        text-align: center;
    }

    // seccion 4
    .frases {
        background-image: url(imagenes/evening-atmosphere-4315445_1920.jpg);
        background-position: center;
        background-size: cover;

        h2 {
            color: #01004e;
            background-color: #0000325b;
            font-weight: bold;
        }

        h3 {
            color: #fff;
        }

        p {
            color: #fff;
            text-shadow: 0 0 5px $color5;
        }
    }

    .feature {
        height: auto;
        border: solid 2px #000;
        text-align: center;
        padding: 30px;
    }

    h3 {
        text-align: center;
        font-weight: bold;
        margin-bottom: 0px;
    }

    p {
        margin-top: 15px;
        font-size: $fsize1;
        font-weight: bold;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

section {
    height: auto;
    width: 100%;
    background-image: url(./imagenes/Sunset.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: $font1;
    text-align: center;
    color: #fff;
    font-weight: bold;

    h2 {
        font-size: $fsize2;
        color: #fff;
        font-family: $font2;
        text-transform: capitalize;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    aside {
        font-family: $font3;
        color: #fff;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: $fsize2;
    }

    // seccion 3
    .article1-seccion3 {
        color: $color5;
        --opacidad-negro: 0.5;
        background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("imagenes/woman-570883_1920.jpg");
        background-size: cover;

        h3 {
            color: #fff;
            background-color: #58473a63;
            text-shadow: 0 0 3px $color2;
            padding-top: 25px;
        }

        p {
            text-align: left;
            color: rgba(255, 255, 255, 0.842);
            font-size: 20px;
            padding-bottom: 30px;
            font-weight: lighter;
            text-shadow: 0 0 5px $color2;
        }
    }

    .article2-seccion3 {
        @extend .article1-seccion3;
        background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("imagenes/woman-591576_1920.jpg");
    }
}

.jumbotron {
    color: #000;
    background-color: $color5;
    margin-bottom: 0;
    border-radius: 0;
    font-size: $fsize1;
    font-family: $font1;
}

// seccion 2
article {
    background: -webkit-linear-gradient(to right, $color2, $color4);
    background: linear-gradient(to right, $color2, $color4);
    height: auto;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;

    h2 {
        font-size: $fsize3;
        text-shadow: 0 0 2px $color4;
        color: $color1;
    }

    // seccion 3
    ul li {
        color: rgba(255, 255, 255, 0.842);
        font-size: $fsize1;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: lighter;
        list-style: none;
    }

    // seccion 5
    
    p {
        color: rgba(255, 255, 255, 0.842);
        font-size: $fsize1;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: lighter;
        list-style: none;
    }

    footer {
        height: auto;
        width: 100%;
        background-color: $color6;
        margin-left: 0;
        margin-bottom: 20px;
        float: left;
        font-family: $font1;
        padding-top: 20px;
    }
}

.galeria {
    min-height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 200px);
    grid-gap: 10px;
    padding: 10px;

    .item {
        border-radius: 5px;
        border: #000 solid 5px;
        box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, .4);
    }

    .item:hover {
        font-size: $fsize1;
        transition: all 0.7s;
        transform: scale(1.05);
        text-shadow: 5px 5px 5px #000;
    }

    .texto {
        font-family: $font1;
        opacity: 0;
        visibility: 0;
        transition: 0.7s;
    }

    .texto:hover {
        align-items: center;
        justify-content: center;
        opacity: 1;
        visibility: visible;
        color: white;
        margin: 20px;
    }

    .item1 {
        background-image: url(./imagenes/enea\ \ 1.jpg);
        background-position: center;
        background-size: cover;
    }

    .item2 {
        background-image: url(./imagenes/enea\ \ 2.jpg);
        background-position: center;
        background-size: cover;
    }

    .item3 {
        background-image: url(./imagenes/enea\ \ 3.jpg);
        background-position: center;
        background-size: cover;
    }

    .item4 {
        background-image: url(./imagenes/enea\ \ 4.jpg);
        background-position: center;
        background-size: cover;
    }

    .item5 {
        background-image: url(./imagenes/enea\ \ 5.jpg);
        background-position: center;
        background-size: cover;
    }

    .item6 {
        background-image: url(./imagenes/enea\ \ 6.jpg);
        background-position: center;
        background-size: cover;
    }

    .item7 {
        background-image: url(./imagenes/enea\ \ 7.jpg);
        background-position: center;
        background-size: cover;
    }

    .item8 {
        background-image: url(./imagenes/enea\ \ 8.jpg);
        background-position: center;
        background-size: cover;
    }

    .item9 {
        background-image: url(./imagenes/enea\ \ 9.jpg);
        background-position: center;
        background-size: cover;
    }
}

footer {
    height: auto;
    width: 100%;
    background-color: $color6;
    margin-left: 0;
    float: left;
    font-family: $font3;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 30px;

    h4 {
        padding-top: 20px;
        font-size: $fsize3;
        color: aliceblue;
        text-transform: uppercase;
        display: inline-block;
        padding-bottom: 10px;
    }

    form {
        display: block;
    }

    label {
        padding-right: 5px;
    }

    .row {
        .form-control:focus {
            background-color: $color6;
            border: none;
            color: rgb(238, 131, 82);
            font-weight: bold;
            border-bottom: black solid 2px;
            outline: none;
            box-shadow: none;
        }

        input {
            margin-bottom: 20px;
            background-color: $color6;
            border: none;
            color: rgb(238, 131, 82);
            font-weight: bold;
            border-bottom: black solid 2px;
        }

        input::placeholder {
            color: aliceblue;
            background-color: $color6;
            border: none;
            padding: 0;
        }

        label {
            color: aliceblue;
        }

        input[type=radio], [type=checkbox]:focus{
            color: rgb(238, 131, 82);
        }

        textarea {
            width: 100%;
            margin-bottom: 20px;
            background-color: $color6;
            border: none;
            color: rgb(238, 131, 82);
            font-weight: bold;
            border-bottom: black solid 2px;
        }

        textarea::placeholder {
            color: aliceblue;
            background-color: $color6;
            border: none;
        }
        
        textarea:focus-visible{
            outline: none;
        }
    }

    #enviar {
        height: 40px;
        width: auto;
        font-size: $fsize1;
        font-family: $font1;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background-color: $color6;
        border: solid black;
        border-radius: 5px;
        padding: 5px;
        margin-top: 5px;
        margin-left: 200px;
        margin-bottom: 50px;
    }

    #enviar:hover {
        cursor: pointer;
        text-transform: capitalize;
        color: black;
    }

    .inscripcion2 {
        font-family: $font1;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 2px;
        border: solid 2px black;
        background-color: $color3;
        color: #fff;
        padding: 5px;
        margin-left: 20px;
    }

    .inscripcion2:hover {
        color: $color5;
        background-color: $color3;
    }

    .redes {
        font-family: $font1;
        font-size: $fsize2;
        margin-bottom: 25px;
        text-decoration: none;
        color: aliceblue;
        text-transform: capitalize;
        text-align: right;
    }

    .fa-instagram:hover {
        color: black;
        cursor: pointer;
    }

    .fa-whatsapp:hover {
        color: black;
        cursor: pointer;
    }
}

$mapa:(instagram:purple,
    whatsapp:green);

@each $red,
$colores in $mapa {
    .fa-#{$red} {
        background-color: $colores;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        text-align: center;
        line-height: 50px;
    }
}

/* mobile */
@media only screen and (min-width:320px) and (max-width:599px) {
    .navbar{
        font-size: 16px;
    }
    .container-fluid {
        h1 {
            font-size: 25px;
        }
    }

    h2 {
        padding: 20px;
    }

    main {
        --opacidad-negro: 0.5;
        background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("imagenes/eneagrama.png");
        background-position: right;
        background-size: cover;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        text-shadow: 0 0 5px #000;

        .nleft {
            margin-top: 0;
            margin-bottom: 30px;

            img {
            height: auto;
            width: 100%;
            }
        }

        .nright{ 
            text-align: left;

            h2{
            text-align: center;
            padding: 0;
            font-size: $fsize1;
            }
            p{
                padding-right: 10px;
                font-size: 16px;
            }
        }
        
        .main-seccion2 {
            height: auto;

            .nleft-seccion2 {
                display: none;
            }   
            .nright-seccion2{ 
                text-align: left;
                padding: 0;
                text-shadow: 0 0 5px #000;

                h2{
                text-align: center;
                font-size: $fsize1;
                color: $color1;
                margin-bottom: 0;
                }

                p{
                    margin-top: 0;
                    font-size: 16px;
                }
            }
        }
    }
    .dibujo {
        display: none;
    }

    section {
        margin-top: 0;

        aside {
            margin-bottom: auto;
        }
    }

    article {
        img {
            width: 70%;
            height: 70%;
        }
    }

    .galeria {
        width: auto;
        grid-template-columns: repeat(1, 1fr);
    }

}

/* tablet y ipad */
@media only screen and (min-width:600px) and (max-width:1199px) {
    
    .container-fluid {
        h1 {
            font-size: 30px;
        }
    }

    h2 {
        padding: 20px;
    }

    main {
        --opacidad-negro: 0.5;
        background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("imagenes/eneagrama.png");
        background-position: right;
        background-size: cover;
        padding: 20px;
        display: flex;
        flex-wrap:wrap-reverse;
        text-shadow: 0 0 5px #000;
        
        .nleft img {
            height: auto;
            width: 100%;
            margin: 0;
            text-align: center;
            margin-bottom: 15px;
        }

        .nright h2{
            text-align: center;
            padding: 0;
            padding-top: 20px;
        }

        .nright p{
            width: 100%;
            padding-right: 10px;
            margin: 0;
        }
        .main-seccion2 {
            height: auto;

            .nleft-seccion2 {
                display: none;
            }   
            .nright-seccion2{ 
                text-align: left;
                padding: 0;
                text-shadow: 0 0 5px #000;

                h2{
                text-align: center;
                font-size: $fsize2;
                color: $color1;
                margin-bottom: 0;
                }

                p{
                    margin-top: 0;
                    font-size: 16px;
                }
            }
        }
        .frases h2{
            color: $color5;
        }
    }
    .dibujo {
        display: none;
    }

    section {
        margin-top: 0;

        aside {
            margin-bottom: auto;
        }
    }


    .galeria {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "img1 img2 img3"
            "img4 img5 img6"
            "img7 img8 img9";

        .item {
            min-width: 150px;
        }

        .item1 {
            grid-area: img1;
        }

        .item2 {
            grid-area: img2;
        }

        .item3 {
            grid-area: img3;
        }

        .item4 {
            grid-area: img4;
        }

        .item5 {
            grid-area: img5;
        }

        .item6 {
            grid-area: img6;
        }

        .item7 {
            grid-area: img7;
        }

        .item8 {
            grid-area: img8;
        }

        .item9 {
            grid-area: img9;
        }
    }
}

/* desktop */
@media only screen and (min-width:1200px) {
    .galeria {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
            "img1 img1 img1 img2 img3 img3"
            "img1 img1 img1 img2 img3 img3"
            "img4 img4 img5 img5 img6 img6"
            "img4 img4 img5 img5 img6 img6"
            "img4 img4 img8 img8 img8 img9"
            "img7 img7 img8 img8 img8 img9"
            "img7 img7 img8 img8 img8 img9";

        .item1 {
            grid-area: img1;
        }

        .item2 {
            grid-area: img2;
        }

        .item3 {
            grid-area: img3;
        }

        .item4 {
            grid-area: img4;
        }

        .item5 {
            grid-area: img5;
        }

        .item6 {
            grid-area: img6;
        }

        .item7 {
            grid-area: img7;
        }

        .item8 {
            grid-area: img8;
        }

        .item9 {
            grid-area: img9;
        }
    }
    .redes{
        position: fixed;
        bottom: 25px;
        right: 25px;
    }
}
